*{
    margin: 0;
}
header{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 500px;
    padding-bottom: 15px;
    padding-top: 15px;
}
nav{
    position: static;
    background-color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding: 10px 0 10px 20px;
}
body{
    background-image: url(wallpaper.jpg);
    background-size: contain;
    background-position: center;
    height: 100vh;
}
a{
    text-decoration: none;
    color: rgb(247, 103, 203);
    font-size: 20px;
    padding: 15px;
}
form{
    margin: 120px auto;
    width: 500px;
    background:pink;
    border-radius: 4px;
}
.hi{
    padding: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(to right, pink, rgb(234, 75, 157),
    rgb(0, 0, 0)) ;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 102%;
    margin-left: -10px;
}
footer{
    position: absolute;
    bottom: 0px;
    
}